## Data Structures

### Tuple
-A tuple is a fixed-length, immutable sequence of Python objects which, once assigned, cannot be changed. The easiest way to create one is with a comma-separated sequence of values wrapped in parentheses or using the expression *tuple*.

In [167]:
tup = (1, 2, 3)

In [168]:
tup

(1, 2, 3)

In [169]:
tuple_1 = 4, 5, 6
tuple_1

(4, 5, 6)

In [170]:
tuple_2 = (1,2), (7,8)
tuple_2

((1, 2), (7, 8))

In [171]:
tuple_string = ('HELLO')
tuple_string_2 = ('H', 'E', 'L', 'L', 'O')

In [172]:
tuple_string

'HELLO'

In [173]:
tuple_string_2[0]

'H'

In [174]:
values = 2 , 4, 6, 8, 10
a, b, *rest = values

In [175]:
a

2

In [176]:
rest

[6, 8, 10]

In [177]:
values

(2, 4, 6, 8, 10)

In [178]:
values_2 = 1 , 3, 5, 7, 9
a, b, *_ = values_2

In [179]:
values_2

(1, 3, 5, 7, 9)

In [180]:
_

[5, 7, 9]

In [181]:
a = ('a', 'b', 'b', 'b', 'c')
a.count('b')

3

### Lists

- In contrast with tuples, lists are variable length and their contents can be modified in place. Lists are mutable. You can define them using square brackets $[\;\;]$ or using the list type function *list*.

In [182]:
a_list = [1,3,5,None]
tuple_a = ('C', 'U', 'S', 'C', 'O')

In [183]:
b_list = list(tuple_a)
b_list

['C', 'U', 'S', 'C', 'O']

In [184]:
b_list[4] = 'Cartagena'

In [185]:
b_list

['C', 'U', 'S', 'C', 'Cartagena']

In [186]:
generation = range(10)

In [187]:
generation

range(0, 10)

In [188]:
list(generation)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [189]:
b_list.append('Montevideo')

In [190]:
b_list

['C', 'U', 'S', 'C', 'Cartagena', 'Montevideo']

In [191]:
b_list.insert(3, 'Rio de Janeiro')

In [192]:
b_list

['C', 'U', 'S', 'Rio de Janeiro', 'C', 'Cartagena', 'Montevideo']

In [193]:
b_list.pop(3)

'Rio de Janeiro'

In [194]:
b_list

['C', 'U', 'S', 'C', 'Cartagena', 'Montevideo']

In [195]:
b_list.append('C')

In [196]:
b_list

['C', 'U', 'S', 'C', 'Cartagena', 'Montevideo', 'C']

In [197]:
b_list.remove('C')

In [198]:
b_list

['U', 'S', 'C', 'Cartagena', 'Montevideo', 'C']

In [202]:
'Cartagena' in b_list

True

In [203]:
'Montevideo' not in b_list

False

In [204]:
b_list + [1,2,(4,5)]

['U', 'S', 'C', 'Cartagena', 'Montevideo', 'C', 1, 2, (4, 5)]

In [206]:
a = [4,3,5,6,1,2,9]
a

[4, 3, 5, 6, 1, 2, 9]

In [208]:
a.sort()
a

[1, 2, 3, 4, 5, 6, 9]

In [210]:
b = ['Hi', 'A', 'good', 'lucky', 'research']
b

['Hi', 'A', 'good', 'lucky', 'research']

In [212]:
b.sort(key=len)
b

['A', 'Hi', 'good', 'lucky', 'research']

In [218]:
c = [1, 3, 5, 7, 9, 11, 13 ,15]
c

[1, 3, 5, 7, 9, 11, 13, 15]

In [221]:
c[1:3]

[3, 5]

In [222]:
c[4:]

[9, 11, 13, 15]

In [225]:
c[:3]

[1, 3, 5]

In [224]:
c[:-1]

[1, 3, 5, 7, 9, 11, 13]

In [227]:
c[::2]

[1, 5, 9, 13]

In [230]:
c[::-1]

[15, 13, 11, 9, 7, 5, 3, 1]

In [231]:
c[::-2]

[15, 11, 7, 3]

### Dictionary

- A dictionary stores a collection of key-value pairs, where key and
value are Python objects. Each key is associated with a value so that a value can be conveniently retrieved, inserted, modified, or deleted given a particular key. One approach for creating a dictionary is to use curly braces {$\;$} and colons to separate keys and values:

In [300]:
d1 = {'a': 'Cusco', 'b': [2,4,6,8], 'c':'Mexico'}

In [301]:
d1

{'a': 'Cusco', 'b': [2, 4, 6, 8], 'c': 'Mexico'}

In [302]:
d1['1'] = 'Sao Paulo'

In [303]:
d1

{'a': 'Cusco', 'b': [2, 4, 6, 8], 'c': 'Mexico', '1': 'Sao Paulo'}

In [304]:
del d1['1']

In [305]:
d1

{'a': 'Cusco', 'b': [2, 4, 6, 8], 'c': 'Mexico'}

In [306]:
list(d1.keys())

['a', 'b', 'c']

In [307]:
list(d1.values())

['Cusco', [2, 4, 6, 8], 'Mexico']

In [309]:
list(d1.items())

[('a', 'Cusco'), ('b', [2, 4, 6, 8]), ('c', 'Mexico')]

In [310]:
d1.update({'d': 'Buenos Aires', '2':'odd'})

In [311]:
d1

{'a': 'Cusco',
 'b': [2, 4, 6, 8],
 'c': 'Mexico',
 'd': 'Buenos Aires',
 '2': 'odd'}

In [341]:
words = ['Argentina', 'Bolivia', 'Chile', 'Brazil', 'Canada', 'Colombia']

In [342]:
by_letter = {}

In [343]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [344]:
by_letter

{'A': ['Argentina'],
 'B': ['Bolivia', 'Brazil'],
 'C': ['Chile', 'Canada', 'Colombia']}

In [345]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [346]:
by_letter

defaultdict(list,
            {'A': ['Argentina'],
             'B': ['Bolivia', 'Brazil'],
             'C': ['Chile', 'Canada', 'Colombia']})

### Set

- A *set* is an unordered collection of unique elements. A set can be created in two ways: via the set function or via a set literal with curly braces.

In [347]:
set([2,3,4,2,3,1,1,4])

{1, 2, 3, 4}

In [348]:
{'a', 'b', 'b', 'a', 'c', 'd'}

{'a', 'b', 'c', 'd'}

In [354]:
a = {1,2,3}
b = {'a','b','c'}

In [357]:
a.union(b)

{1, 2, 3, 'a', 'b', 'c'}

In [358]:
a | b

{1, 2, 3, 'a', 'b', 'c'}

In [360]:
a & b #intersection

set()

- Python set operations

![Figure1](../Figuras/1,1.png)

### Functions 

- *Functions* are the primary and most important method of code organization and reuse in Python. As a rule of thumb, if you anticipate needing to repeat the same or very similar code more than once, it may be worth writing a reusable function.
Functions can also help make your code more readable by giving a name to a group of Python statements.
- Functions are declared with the def keyword. A function contains a block of code with an optional use of the return keyword.

In [1]:
def my_first_function (x,y):
    return x + y

In [2]:
my_first_function(4,5)

9

In [5]:
def my_second_function (x,y,z=1.5):
    if z > 1:
        return z*(x+y)
    else:
        return z/ (x+y)

In [6]:
my_second_function (2,4,1)

0.16666666666666666

In [7]:
my_second_function(2,4)

9.0

In [8]:
my_second_function(2,4,0.5)

0.08333333333333333

In [67]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [68]:
func()

In [69]:
a

[0, 1, 2, 3, 4]

In [70]:
def f():
    a=4
    b=5
    c=6
    return a,b,c

In [71]:
f()

(4, 5, 6)

#### Anonymus (Lambda) Functions

In [8]:
def short_function(val):
    return val**2

In [9]:
short_function(4)

16

In [12]:
val_1 = 4

In [13]:
equiv = lambda val_1: val_1**2

In [15]:
equiv

#### Bibliography

- Python for Data Analysis, Data wrangling with pandas, Numpy & Jupiter - Wes Mckinney. 
[Link](https://wesmckinney.com/book/)
- Python Data Science Handbook, Essential Tools for Working with Data - Jake VanderPlas. [Link](https://jakevdp.github.io/PythonDataScienceHandbook/)